{% extends 'index.html' %}


{% block body %}

<section id="contact">
    <h1 class="headings">CONTACT</h1>
        <form action="POST" method="POST" class="form">
            <input type="text" id="name" name="name"class="input"placeholder="Enter your name">
            <input type="email" id="email" name="email"class="input"
                placeholder="Enter your Email">
                    <textarea name="msg" id="msg" cols="40" rows="15"placeholder="Enter your message">
                </textarea>
            <input type="submit" value="SEND" id="send">
        </form>
    </section>
    {% endblock %}